<!-- templates/account/password_reset_done.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Email надіслано{% endblock %}

{% block content %}
<section>
    <div>
        <div>
            <h2>Перевірте вашу пошту!</h2>

            <p>
                Ми надіслали інструкції для відновлення паролю на вказану адресу email.
            </p>

            <div>
                <ul>
                    <li>Перевірте папку "Вхідні"</li>
                    <li>Якщо листа немає, перевірте папку "Спам"</li>
                    <li>Посилання дійсне протягом 24 годин</li>
                    <li>Лист може надійти протягом 5 хвилин</li>
                </ul>
            </div>

            <a href="{% url 'index' %}">Повернутися на головну</a>

            <div>
                <small>
                    Не отримали лист? <a href="{% url 'account_reset_password' %}">Надіслати знову</a>
                </small>
            </div>
        </div>
    </div>
</section>
{% endblock %}