<!-- templates/account/password_reset_from_key_done.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль змінено{% endblock %}

{% block content %}
<section>
    <div>
        <div>
            <h2>Пароль успішно змінено!</h2>

            <p>
                Ваш пароль було успішно оновлено. Тепер ви можете увійти, використовуючи новий пароль.
            </p>

            <a href="{% url 'account_login' %}">Увійти</a>
        </div>
    </div>
</section>
{% endblock %}