:root{
    --orange-color:#FF6600;
    --white-color: white;
    --gray-line-color:rgb(59, 56, 56);
    --small-size: clamp(8px, 4vw, 16px);
    --txt-menu-item-size: clamp(8px, 6vw, 18px);
    --txt-item-service-size: clamp(8px, 6vw, 25px);
    --background-black:  rgb(22, 22, 22);
    --txt-big-size: clamp(44px, 4vw, 70px);
    --txt-middle-size: clamp(20px, 6vw, 40px);
    --txt-size-card-trener: clamp(22px, 4vw, 44px);
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.container {
    padding: 0;
    width: 1920px;
    max-width: 90%;
}
.section-header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/static/elevix/images/photo_zal.png");
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.block-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.txt-title,.txt-under-title{
    text-align: center;
}
.txt-title p{
    font-size: var(--txt-big-size);
    font-weight: bold;
}
.txt-title p span:nth-child(odd){
    color: var(--orange-color);
}
.txt-title p span:nth-child(even){
    color: var(--white-color);
}

.txt-under-title{
    font-size: var(--txt-middle-size);
    color: var(--white-color);
    max-width: 80%;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease-in-out;
}
.txt-under-title.show{
    opacity: 1;
    transform: translateY(0px);
}
.btn-title{
    color: var(--orange-color)  ;
}


.btn-now{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.txt_tech{
    padding: 15px 35px;
    font-size: clamp(16px, 4vw, 24px);
    background: var(--background-black);
    border-radius: 40px;
    color: var(--orange-color);
    letter-spacing: 2px;
    transition: all 0.3s, color 0.3s ease-in-out;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: 1px solid var(--orange-color);

}
.txt_tech::before{
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 0;
    height: 100%;
    background: var(--orange-color);
    z-index: -1;
    transform: skewX(45deg);
    transition: 0.3s;
}
.txt_tech:hover{
    color: var(--white-color);
    letter-spacing: 2px;
    cursor: pointer;
}
.txt_tech:hover::before{
    width: 150%;
    transition: 0.5s ease-in-out;
}



/*section-service*/
.section_service {
    width: 100%;
    background: var(--background-black);
    display: flex;
    justify-content: center;    
}

.btn-animate-service {
    position: relative;
    padding: 10px 40px;
    color: var(--orange-color);
    background: black;
    overflow: hidden;
    width: 300px;
    display: flex;
    justify-content: center;
}

.btn-animate-service img {
    width: clamp(120px, 14vw, 260px);
    height: auto;
}

.btn-animate-service span:nth-child(1),
.btn-animate-service span:nth-child(2),
.btn-animate-service span:nth-child(3),
.btn-animate-service span:nth-child(4) {
    background: var(--orange-color);
    position: absolute;
}

.btn-animate-service span:nth-child(1) {
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    animation: anim1 2.2s linear infinite;
}

@keyframes anim1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn-animate-service span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    animation: anim2 2.2s linear infinite;
}

@keyframes anim2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.btn-animate-service span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    animation: anim3 2.2s linear infinite;
}

@keyframes anim3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn-animate-service span:nth-child(4) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    animation: anim4 2.2s linear infinite;
}

@keyframes anim4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.container-service {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 70px 0px;
}

.service-item {
    width: calc(50% - 16px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.container-service-img {
    width: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    height: clamp(150px, 16vw, 250px);
    transition: all 0.4s ease;
}

.service-img-content a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--orange-color);
    font-size: var(--txt-item-service-size);
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    padding: 6px 12px;
    text-decoration: none;
    background-color: var(--background-black);
    border-radius: 10px;
}

.service-item:hover .container-service-img {
    filter: blur(8px);
    transition: all 0.4s ease;
    transform: scale(1.1);
}

.service-item:hover .service-img-content a{
    background: var(--orange-color);
    color: var(--white-color);
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.container-black{
    width: 100%;
    height: 80px;
    max-height: 70%;
}



/*section-about-us*/

.section-about-us{
    width: 100%;
    background: var(--background-black);    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-about-us{
    width: 100%;
    display: flex;
    justify-content: center;
}
.block-info-about-us,
.block-content-about-us{
    width: 100%;
}

.h2-element{
    color: var(--orange-color);
    font-size: var(--txt-big-size);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s;
}
.block-info-about-us p{
    color: var(--white-color);
    font-size: var(--txt-item-service-size);
    max-width: 90%;
}
.orange-content{
    color: var(--orange-color);
    font-weight: bold;
}
.block-content-about-us{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
}
.block-content-about-us span{
    color: var(--orange-color);
    font-size: var(--txt-item-service-size);
    font-weight: bold;
}
.ul-animate{
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.block-content-about-us ul li{
    color: var(--white-color);
}
.block-content-about-us li::before{
    content: "\2713";
    color: var(--orange-color);
    font-weight: bold;
    padding-right: 5px;
}



/*section-statistic*/
.section-statistic{
    width: 100%;
    height: 100%;
    background: var(--background-black);
    display: flex;
    justify-content: center;
}
.container-grafic{
    width: 1200px;
    max-width: 95%;
}
.statistic{
    color: var(--orange-color);
    font-size:var(--txt-big-size);
    text-align: center;
}
.grafic {
    /* width: clamp(60%, 80vw, 100%); */
    width: 100%;
    margin: 0 auto;
}

.cntnt_position_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cntnt_btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

button {
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    padding: 6px ;
    cursor: pointer;
    background-color: var(--background-black);
    transition: 0.5s;
    letter-spacing: 1px;
    width: clamp(60px, 20vw, 140px); 
    font-size: clamp(10px, 1.3vw, 16px);
    border-radius: 4px;
}

button:hover,
.open {
    background: var(--orange-color);
    color: var(--white-color);
}

#cnvs {
    border-left: 2px solid var(--orange-color);
    border-right: 2px solid var(--orange-color);
}

#chrt_wrp {
    height: clamp(250px, 20vw, 400px);
    border-bottom: 3px solid var(--orange-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: repeating-linear-gradient(
        to top,
        transparent 0,
        transparent 20px,
        rgba(252, 120, 19, 0.414) 20px,
        rgba(219, 91, 12, 0.679) 21px
    );
    padding: 0 10px;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
}

.state_wrp {
    /* width: calc((100% / 6) - 20px); */
    width: calc(clamp(50px, 22vw, 170px) - 20px);
    height: 80px;
    border: 1px solid var(--white-color);
    transition: 1s;
    border-bottom: 1px solid var(--orange-color);
    position: relative;
    background-color: var(--orange-color);
    display: flex;
    justify-content: center;
}

.state_wrp::before {
    content: attr(data-label);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-size: clamp(10px, 1vw, 14px);
    text-align: center;
    width: 100%;
    white-space: normal;
}

#zal::before { content: 'Спортзал'; }
#boks::before { content: 'Бокс'; }
#mma::before { content: 'ММА'; }
#macaz::before { content: 'Масаж'; }
#swim::before { content: 'Плавання'; }

.dscrpt {
    position: absolute;
    top: -50px;
    width: 100%;
    font-size: clamp(16px, 2.5vw, 24px);
    color: var(--white-color);
    text-align: center;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.slider img {
  width: clamp(220px, 20vw, 350px);
  height: auto;
  object-fit: cover;
  margin: 0 20px;
  border-radius: 16px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel:hover .slider{
    animation-play-state: paused;
}


/*section-treners*/


.section-treners {
  width: 100%;
  background: var(--background-black);
  display: flex;
  justify-content: center;
}

.block-treners {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.trainer-card {
  flex: 1 0 auto;
  width: calc(100% /3);
  padding: 10px;
}

.trainer-block-img {
  width: 100%;
  aspect-ratio: 4 / 3; 
  overflow: hidden;
}

.trainer-block-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  object-position: top center;
  top: 0;
  left: 0;
}

.trainer-card span {
  color: var(--orange-color);
  font-size: var(--txt-size-card-trener);
  display: block;
}

.trainer-card p {
  color: var(--white-color);
}

.btn-for-slide {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slider-btn {
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
}
#btn-prev, #btn-next{
    color: var(--orange-color);
}
#btn-prev:hover , #btn-next:hover{
    background: var(--orange-color);
    color: var(--white-color);
    transition: all 0.4s;
}




@media (max-width: 576px) {}

@media (max-width: 768px) {
    .service-item {
        width: 100%;
        padding: 0px 20px;
    }

    .container-service-img {
        max-width: 100%;
    }
    .container-about-us-img{
        display: flex;
        flex-direction: column;
    }
    .container-about-us-img img{
        width: 100%;
        height: auto;
        margin: 15px 0px;
    }
    .block-about-us{
        display: flex;
        flex-direction: column;
    }
    .block-content-about-us{
        padding: 0px;
    }
    .block-content-about-us{
    display: flex;
    justify-content: start;
    padding: 35px 0px;
    }
    .trainer-card{
        width: 50%;
    }
}

@media (max-width: 992px) {

}
@media (max-width: 1200px) {
    
}
