



<section>
    <div class="container">
        <div class="block-form">
            <div class="block-form-info">
                <div class="block-location">
                    <span>Адреса: </span>
                    <p>м.Хмельницький,<br> Вул Кармелюка 15</p>

                    <span>Телефон:</span>
                    <p>+38 068 902 0918</p>

                    <span>Режим роботи:</span>
                </div>
                <div class="block-work">
                    <p>Пн-Пт: <span>8:00-21:00</span></p>
                    <p>Сб: <span>8:00-19:00</span></p>
                    <p>Нд: <span>Вихідний</span></p>
                 </div>
            </div>
            <div class="block-section-form">
                    <form id="contactForm" class="form-edit-trener"  >
                     <div class="input-group">
                            <input type="text" name="nm" class="inp" placeholder="" />
                            <label class="placeholder">Ім'я</label>
                    </div>
                    <div class="input-group">
                            <input type="text" name="eml" class="inp" placeholder="" />
                            <label class="placeholder">Електрона адреса</label>
                    </div>
                     <div class="input-group">
                            <input type="text" name="phn" class="inp" placeholder="" />
                            <label class="placeholder">Номер телефону</label>
                     </div>

                    <div class="input-group">
                        <textarea name="cmnt" class="inp" placeholder=""></textarea>
                        <label class="placeholder">Коментар:</label>
                    </div>


                    <div class="btn-form">
                        <button type="submit">Відправити</button>
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>