{% extends 'base.html' %}



{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'elevix/css/anketa.css' %}">
    <link rel="stylesheet" href="{% static 'elevix/css/trener_edit.css' %}">
    <link rel="stylesheet" href="{% static 'elevix/css/trener-shablon.css' %}">
{% endblock %}


{% block content %}
 {% include 'elevix/logo_anmt.html' %}



<section class="section-header">
    <div class="container">
        <div class="block-header">
            <div class="txt-title">
                <p>
                    <span>Тренуйся</span>
                    <span>сильніше</span>
                    <span>Досягай</span>
                    <span>більше</span>
                </p>
            </div>
            <div class="txt-under-title">
                <span>Розпочніть тренування вже сьогодні.
                    Зміни, вдоскональ та покращи своє здоров'я
                </span>
            </div>
            <br>
            <br>
            <div class="btn-now">
                <a href="{% url 'account_login' %}" class="txt_tech">Приєднуйся зараз</a>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="block-service">
            <div class="btn-animate-service">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="{% static 'elevix/images/logoanmt2.svg' %}">
            </div>
            <div class="container-service">
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/photo_zal.png' %}">
                    <div class="service-img-content"><a href="shablon.html?page=muika">Спортивний зал</a></div>
                </div>
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/borz.jpg' %}">
                    <div class="service-img-content"><a href="shablon.html?page=vozk">Бокс ММА</a></div>
                </div>
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/relax.jpeg' %}">
                    <div class="service-img-content"><a href="shablon.html?page=chistka">Відпочинок</a></div>
                </div>
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/magazin.jpg' %}">
                    <div class="service-img-content"><a href="shablon.html?page=salon">Магазин</a></div>
                </div>
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/personal.jpg' %}">
                    <div class="service-img-content"><a href="shablon.html?page=all">Тренери</a></div>
                </div>
                <div class="service-item">
                    <img class="container-service-img" src="{% static 'elevix/images/price.jpg' %}">
                    <div class="service-img-content"><a href="shablon.html?page=vuizd">Ціни</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block-about-us container">
        <div class="block-info-about-us">
            <h2 class="h2-element">Про наc</h2>
            <p>Ми простір розвитку, сили та внутрішнього перезавантаження.
                Наш зал створений для тих, хто хоче більше: більше витривалості, більше впевненості,
                більше свободи у своєму тілі.
                <br><br>
                Працюємо з <span class="orange-content">2020 року.</span> Ми поєднали професійне обладнення, досвідену
                команду тренерів та атмосферу.
                <br>
                Тренуйся, вдосконалюй, будуй та знаходь себе!
                <br><br>
                <span class="orange-content">Чекаємо саме на тебе</span>
            </p>
        </div>
        <div class="block-content-about-us">
            <div>
                <span> Сучасний спортивний зал</span>
                <ul>
                    <li>Професійні тренажери для силових та кардіо тренувань</li>
                    <li>Вільні ваги, зона кросфіту, TRX, гантелі до 50 кг</li>
                    <li>Окрема зона для розминки та розтяжки</li>
                    <li>Сучасне освітлення й вентиляція для максимального комфорту</li>
                </ul>
                <br>
                <span> Бойові мистецтва</span>
                <ul>
                    <li>Повноцінний ринг для спарингів</li>
                    <li>Мішки різних типів для відпрацювання жорсткості удару</li>
                    <li>Доступні як групові, так і персональні тренування</li>
                    <li>Тренування проводяться з боксу та ММА, різні групи </li>
                </ul>
                <br>
                <span> Зона відпочинку та відновлення</span>
                <ul>
                    <li>Масажний кабінет з кваліфікованими спеціалістами</li>
                    <li>Сауна — для детоксикації та мʼязового відновлення</li>
                    <li>Невеликий басейн для відновлювального плавання</li>
                </ul>
                <br>
                <span>Доступність вибору товару в магазині</span>
                <ul>
                    <li>Широкий асортимент товарів на будь-який смак і потребу</li>
                    <li>Продукти та аксесуари, підібрані відповідно до типу абонементу</li>
                    <li>Висока якість спортивного харчування, одягу та інвентарю</li>
                    <li>Регулярне оновлення асортименту та сезонні новинки</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="carousel">
        <div class="slider">
            <img src="{% static 'elevix/images/borz.jpg' %}" alt="">
            <img src="{% static 'elevix/images/personal.jpg' %}" alt="">
            <img src="{% static 'elevix/images/photo_zal.png' %}" alt="">
            <img src="{% static 'elevix/images/relax.jpeg' %}" alt="">
            <img src="{% static 'elevix/images/boks.webp' %}" alt="">
            <img src="{% static 'elevix/images/photozal1.jpg' %}" alt="">
            <img src="{% static 'elevix/images/photozal2.webp' %}" alt="">
            <img src="{% static 'elevix/images/photozal3.jpg' %}" alt="">

            <img src="{% static 'elevix/images/borz.jpg' %}" alt="">
            <img src="{% static 'elevix/images/personal.jpg' %}" alt="">
            <img src="{% static 'elevix/images/photo_zal.png' %}" alt="">
            <img src="{% static 'elevix/images/relax.jpeg' %}" alt="">
            <img src="{% static 'elevix/images/boks.webp' %}" alt="">
            <img src="{% static 'elevix/images/photozal1.jpg' %}" alt="">
            <img src="{% static 'elevix/images/photozal2.webp' %}" alt="">
            <img src="{% static 'elevix/images/photozal3.jpg' %}" alt="">
        </div>
    </div>

</section>

<section>
    <div class="container-grafic">
         <div class="title-section">
            <p>Статистика</p>
        </div>
        <div class="grafic">
            <div class="cntnt_position_btn">
                <div class="cntnt_btn">
                    <button id="year_2020" onclick="doChart(this)">2020</button>
                    <button id="year_2021" onclick="doChart(this)">2021</button>
                    <button id="year_2022" onclick="doChart(this)">2022</button>
                    <button id="year_2023" onclick="doChart(this)">2023</button>
                    <button id="year_2024" onclick="doChart(this)">2024</button>
                </div>
            </div>

            <br><br>
            <div id="cnvs">
                <div id="chrt_wrp">
                    <div id="zal" class="state_wrp ">
                        <div class="dscrpt"></div>
                    </div>
                    <div id="boks" class="state_wrp">
                        <div class="dscrpt"></div>
                    </div>
                    <div id="mma" class="state_wrp">
                        <div class="dscrpt"></div>
                    </div>
                    <div id="macaz" class="state_wrp">
                        <div class="dscrpt"></div>
                    </div>
                    <div id="swim" class="state_wrp">
                        <div class="dscrpt"></div>
                    </div>
                </div>
            </div>

            <input id="num" type="hidden" value="0" />
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="block-why">
            <div class="title-section">
               <p> Чому нас обирають?</p>
            </div>
            <div class="item-why">
                <div class="item-card ">
                    <h2>Професійна експертиза</h2>
                     <p>
                        Поєднуємо багаторічний досвід і сучасні технології, щоб створювати рішення високого рівня. Кожен проєкт проходить внутрішній контроль якості. Ви отримуєте результат, який стабільно працює та викликає довіру.
                    </p>
                </div>
                <div class="item-card">
                    <h2>Індивідуальний підхід</h2>
                    <p>Ми детально вивчаємо ваші цілі, аудиторію та специфіку бізнесу. Стратегія підбирається під ваші задачі, а не під загальні шаблони. Завдяки цьому рішення виходять точними, ефективними та релевантними.</p>
                </div>
                 <div class="item-card">
                    <h2>Швидкість та чіткі дедлайни</h2>
                    <p>Ми оптимізували процеси так, щоб працювати без затримок та хаосу. Кожен етап має чіткий таймінг і прозорий план. Ви отримуєте готовий продукт вчасно, без стресу та зайвих уточнень.</p>
                </div>
                 <div class="item-card">
                    <h2>Прозора комунікація</h2>
                    <p>Під час роботи ми тримаємо вас у курсі всіх важливих рішень і змін. Ви завжди розумієте, на якому етапі проєкт і які наступні кроки. Це створює атмосферу довіри та легкого співробітництва.</p>
                </div>
                 <div class="item-card">
                    <h2>Орієнтація на результат</h2>
                    <p>Ми фокусуємось не на процесі заради процесу, а на кінцевому ефекті. Аналізуємо дані, тестуємо рішення та покращуємо їх. Для нас важливо, щоб продукт приносив реальну користь і вимірюваний результат.</p>
                </div>
                 <div class="item-card">
                    <h2>Підтримка після запуску</h2>
                    <p>Ми не зникаємо після досягнення вами  результату — ми залишаємося поруч, щоб допомогти з удосконаленням та розвитком. Ви завжди можете розраховувати на консультації та технічну підтримку.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="block-treners">
            <div class="btn-news btn-prev">
                <button>
                    <img src="/static/elevix/images/arrow.svg" alt="">
                </button>
            </div>
            <div class="slider-container">
                <div id="slider-track" class="slider-track_cntnt">

                    {% for trainer in trainers %}
                     <div class='state-wrapper' data-id='{{ trainer.id }}'>
                         <a href="{% url 'elevix:trainer_detail' trainer.id %}" class='state-card'>
                             <div class='state-card-inner'>
                                <div class='block-content-trener'>
                                    <div class='trainer-block-img'>
                                        {% if trainer.photo %}
                                        <img src="{{ trainer.photo.url }}" alt="{{ trainer.get_full_name }}">
                                        {% else %}
                                        <a href="">No trainer photo</a>
                                        {% endif %}
                                    </div>
                                     <span>{{ trainer.get_full_name }}</span>
                                     <p>Тренер з {{ trainer.get_specialization_display }}</p>
                                </div>
                            </div>
                         </a>
                     </div>
                    {% empty %}
                    <div class="no-trainers">
                        <p>Наразі немає доступних тренерів</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="btn-news btn-next">
                <button>
                     <img src="/static/elevix/images/arrow.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</section>


<section id="feedbackSection">
    <div class="container">
        <div class="title-section">
            <p>Залишені відгуки</p>
        </div>

        <div class="feedback-wrapper">
            <div class="feedback-slider">
                    <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Антон Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад.Рекомендую</p>
                        </div>
                    </div>
                     <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Ангеліна Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад.Рекомендую</p>
                        </div>
                    </div>
                     <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Макар Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад. fewwfefewРекомендую</p>
                        </div>
                    </div>
                    <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Вікторія Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад.Рекомендую</p>
                        </div>
                    </div>
                     <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Вероніка Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад.Рекомендую</p>
                        </div>
                    </div>
                     <div class="feedbackContainer-wrapper">
                        <div class="feedback-cntnt">
                            <div>Степан Василенко</div>
                           <span class="star">&#9733; &#9733; &#9733; &#9733;</span>
                            <p> неймовірно чудовий заклад.Рекомендую</p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="btn-details">
            <a href="#">Переглянути всі</a>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="block-questions">
            <div class="block-info-questions">
                <h2>Поширені <br>Запитання</h2>
                <p>Не знайшли відповіді? <br> Ми з радістю відповімо Вам <br>Пиши або телефону!</p>
                <div>Написати</div>
                <span>+38 068 982 0943</span>
            </div>
            <div class="block-accordions">
                {% for faq in faqs %}
                    <div class="accordion">
                        <details class="accordion-details">
                            <summary class="accordion-summary">
                                <span>{{ faq.question }}</span>
                            </summary>
                        </details>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>{{ faq.answer|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="no-faqs">
                        <p>Наразі питань немає. Додайте їх в адмін панелі.</p>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="block-price">
            <div class="title-section">
                <p>Ціни</p>
            </div>
            <div class="container-price">
                {% for service in services %}
                <div class="card-price">
                    <div class="title-card pd-card">{{ service.name }}</div>
                    <div class="time-card pd-card">
                        {{ service.duration }}
                        {% if service.duration == 1 %}
                            година
                        {% elif service.duration < 2 %}
                            години
                        {% else %}
                            годин
                        {% endif %}
                        {% if service.category == 'massage' %}
                            релаксу
                        {% else %}
                            тренування
                        {% endif %}
                    </div>
                    <hr class="line-card">
                    <br>
                    <div class="price pd-card">
                        {% for plan in service.pricing_plans.all %}
                            {% if plan.is_default %}
                            <div class="price-main">
                                <div>{{ plan.price|floatformat:0 }} грн</div>
                                <span>{{ plan.name }}</span>
                            </div>
                            {% else %}
                            <div class="price-mouth">
                                <div>{{ plan.price|floatformat:0 }} грн</div>
                                <span>{{ plan.name }}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr class="line-card">
                    <div class="cntnt-card">
                        <ul>
                            {% for feature in service.features.all %}
                            <li>{{ feature.feature_text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="current-card">
                        <a href="{% url 'elevix:booking_create' service.id %}">Обрати</a>
                    </div>
                </div>
                {% empty %}
                <p>Наразі послуги відсутні</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


 {% include 'includes/form.html' %}




{% endblock %}



{% block extra_js %}
<!-- JS -->
    <script src="{% static 'elevix/js/logoanmt.js' %}"></script>
    <script src="{% static 'elevix/js/animation-scroll.js' %}" defer></script>
    <script src="{% static 'elevix/js/chart.js' %}" defer></script>
    <script src="{% static 'elevix/js/treners.js' %}" defer></script>
    <script src="{% static 'elevix/js/vidgyks.js' %}" defer></script>
    <script src="{% static 'elevix/js/accordion.js' %}" defer></script>



{% endblock %}