{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'elevix/css/logoanmt.css' %}">
{% endblock %}


<footer>
    <div class="container">
        <div class="block-footer">
            <div class="cntnt-footer">
                <div class="item-footer">
                    <p>Навігація</p>
                    <ul>
                        <li><a href="#">Головна</a></li>
                        <li><a href="#">Тренери</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Магазин</a></li>
                    </ul>
                </div>
                <div class="item-footer">
                    <p>Послуги</p>
                    <ul>
                        <li><a href="#">Спортивний зал</a></li>
                        <li><a href="#">Бокс та ММА</a></li>
                        <li><a href="#">Відпочинок</a></li>
                        <li><a href="#">Магазин</a></li>
                    </ul>
                </div>
                <div class="item-footer">
                       <p>Контактна інформація</p>
                        <div class="item-contact"><span class="span-for-item">&#9742;</span>Мобільний зв'зяок
                           <br>
                           <span>+380 68 902 0918</span>
                         </div>
                         <div class="item-contact"> <i class="fab fa-telegram span-for-item"></i>Telegram
                           <br>
                           <span>Elevix_official</span>
                         </div>
                         <div class="item-contact"> <i class="fab fa-instagram span-for-item"></i>Instagram
                           <br>
                           <span>Elevix_official</span>
                         </div>
                         <div class="item-contact"> <i class="fas fa-map-marker-alt span-for-item"></i>Адреса
                            <br>
                            <span>м. Хмельницький, вул Кармелюка 15</span>
                         </div>
                </div>
            </div>
             <hr class="line-card">
            <div class="last">
                 <img class="logo_name" src="{% static 'elevix/images/logoanmt2.svg' %}">
                  <div class="btn-up">Вгору</div>
            </div>
        </div>
    </div>
</footer>




