<div>
    <label for="{{ field_id }}">
        {{ label }} {% if required %}<span>*</span>{% endif %}
    </label>
    <div>
        {% if icon %}
        <i class="bi bi-{{ icon }}"></i>
        {% endif %}
        <input
            type="text"
            id="{{ field_id }}"
            name="{{ name }}"
            value="{{ value|default:'' }}"
            placeholder="{{ placeholder|default:'' }}"
            autocomplete="{{ autocomplete|default:'off' }}"
            {% if required %}required{% endif %}
        >
    </div>
    {% if error %}
        <p>
            {{ error }}
        </p>
    {% endif %}
</div>
